$theme-light: (
        text:#4A4A4A,
        secondary: #A0B0B9,
        accent:#2196F3,
        white:#ffffff,
        light: #F3F7FA,
        divider: #DFE5EC,
        hover: #F1FCFF,
);

$theme-dark: (
        text:#f5f2f2,
        secondary: #d2d2d2,
        accent:#2196F3,
        white: #ffffff,
        light: #F3F7FA,
        divider: #DFE5EC,
        hover: #F1FCFF
);
